body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.dark-theme{
    background: #011515;
}

/* ======= common-classes =========== */

.border-gray{
    border: 0.892px solid rgba(173, 173, 173, 0.14);
}
.bg-gray{
    background-color: #403F40;
}
.w_2{
    width: 2px;
}
.bg-lightGray{
    background: #011515;
}
.bg-blur{
    background: rgba(0, 128, 128, 0.10);
    -webkit-backdrop-filter: blur(29px);
    backdrop-filter: blur(29px);
}
.bg-blue-blur{
    background: #008080;
    -webkit-backdrop-filter: blur(29px);
    backdrop-filter: blur(29px);
}
.overlay {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    z-index: 1;
    background-color: #011515;
    overflow-x: hidden;
    transition: 0.5s;
}

/* ========================== background-images =============== */
.channel{
    background-image: url('../images/channel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
}
.obp{
    background-image: url('../images/obp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
}
.recever-bg{
    background-image: url('../images/Recever-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ================ natural-background ----------- */
.natural-background{
    background-image: url('../images/Radixone-Nutral.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =============== ranger-styling ====================== */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #014747; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #008080; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #008080; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


  /* ================== Natural-Theme-Styling =================== */
  
  .natural-theme{
    background: #008181;
  }
  .frequency-bg{
    background: #40A1A1;
  }
  .natural-blur-bg{
    border-radius: 4px;
    border: 0.892px solid rgba(173, 173, 173, 0.14);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(29px);
  }

  /* =============== ranger-styling ====================== */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #014747; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
