body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.dark-theme{
    background: #011515;
}

/* ======= common-classes =========== */

.border-gray{
    border: 0.892px solid rgba(173, 173, 173, 0.14);
}
.bg-gray{
    background-color: #403F40;
}
.w_2{
    width: 2px;
}
.bg-lightGray{
    background: #011515;
}
.bg-blur{
    background: rgba(0, 128, 128, 0.10);
    -webkit-backdrop-filter: blur(29px);
    backdrop-filter: blur(29px);
}
.bg-blue-blur{
    background: #008080;
    -webkit-backdrop-filter: blur(29px);
    backdrop-filter: blur(29px);
}
.overlay {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    z-index: 1;
    background-color: #011515;
    overflow-x: hidden;
    transition: 0.5s;
}
/* .radio-dark span{
  color: white !important;
} */
/* .radio-dark .dark{
  background: white !important;
} */
.natural .light{
  background: white !important;
}
/* ========================== background-images =============== */
.channel{
    background-image: url('../images/channel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
}
.obp{
    background-image: url('../images/obp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
}
.recever-bg{
    background-image: url('../images/Recever-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ================ natural-background ----------- */
.natural-background{
    background-image: url('../images/Radixone-Nutral.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =============== ranger-styling ====================== */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #014747; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: var(--background); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #008080; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


  /* ================== Natural-Theme-Styling =================== */
  
  .natural-theme{
    background: #008181;
  }
  .frequency-bg{
    background: #40A1A1;
  }
  .natural-blur-bg{
    border-radius: 4px;
    border: 0.892px solid rgba(173, 173, 173, 0.14);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(29px);
  }

  /* =============== ranger-styling ====================== */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #014747; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .natural .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .natural .slider::-moz-range-thumb {
    border-radius: 100%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .natural-menu .overlay {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    z-index: 1;
    background-color: #008181;
    overflow-x: hidden;
    transition: 0.5s;
}

/* ================= light-theme ===================== */

.light-blur-bg{
    border-radius: 4px;
    border: 0.892px solid rgba(173, 173, 173, 0.14);
    background: rgba(0, 154, 154, 0.10);
    backdrop-filter: blur(29px);
}

/* ================ light-background ----------- */
.light-background{
    background-image: url('../images/Radixone-light.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =============== theme-switcher-css ============== */
.dropdown-wrapper {
  position: relative;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}
.dropdown-wrapper2:after {
  content: "" !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  top: 50% !important;
  right: 3px !important;
  margin-top: -3px !important;
  border-width: 6px 6px 0 6px !important;
  border-style: solid !important;
  border-color: var(--color2) transparent !important;
}
.dropdown-wrapper2.is-active {
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  border-bottom: none;
}
.dropdown-wrapper2.is-active:after {
  border-color: var(--color2) transparent;
  transform: rotate(180deg);
}
.dropdown-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: var(--color) transparent;
}

.dropdown-wrapper.is-active {
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  border-bottom: none;
}
.dropdown-wrapper.is-active:after {
  border-color: var(--color) transparent;
  transform: rotate(180deg);
}

#dropdown-wrapper-mob:after{
  border-color: unset !important;
  border-width: 0 !important;
}
#dropdown-wrapper-mob.is-active:after{
  border-color: unset !important;
}
.dropdown-wrapper.is-active .dropdown-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px;
}

.dropdown-list {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
  z-index: 10;
}
.dropdown-list li {
  padding: 0 10px;
}
.dropdown-list li:hover a {
  color: #f05b55;
}
.dropdown-list li:last-of-type a {
  border: none;
}
.dropdown-list a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #e6e8ea;
}
